@model CPK5.Models.PlanoSaude

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlanoSaude</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmPlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cobertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cobertura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="PacientePlanoDeSaude" asp-action="PacientesDoPlano" asp-route-planoSaudeId="@Model?.Id">Pacientes Vinculados</a> |
    <a asp-action="Index">Back to List</a>
</div>
